<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caption Generated</title>
</head>
<body>
    <div class="header">
        <h1>Image Caption Generator</h1>
    </div>
    <div class="container">
        <h2><strong>Results</strong></h2>
        <div class="imageResults">
            <div>
                <img src="{{ImageSelected}}" alt="imageCap" srcset="">
            </div>
            <div class="imageDesc">
                <p><strong>Image Caption:</strong> {{ imageCap }}</p>
                <p><strong>Image Caption Confidence:</strong> {{ imageCapCon }}%</p>
                <p><strong>Image Tags:</strong></p>
                {% for tag in imageTags %}
                    <div class="tagsWords">
                        {{tag}}
                    </div>
                    {% endfor %}
            </div>
        </div>

        <div>
            <!-- <strong>Try another image: </strong> -->
            <a href="/"><button class="button">Try another image!</button></a>
        </div>
    </div>
</body>
</html>