<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caption Generator</title>
</head>
<body>
    <div class="header">
      <h1>Image Caption Generator</h1>
    </div>
    <form class="container" id="form1" method="POST" >
      <div class="label">
        <label for="imageURL">Paste Image Link</label><br/>
      </div>
      <div class="formInput">
        <input class="formbox" type="url" name="ImageSelected" placeholder="https://" id="">
        <input type="submit" class="button" value="Get Caption!" />
      </div>
      </form>
    <div>
      <p>Click on Get Caption to get the results like below</p>
    </div>
    <div >
      <img class="sample1" src="/static/Sneakers.png" alt="sneaker sample" srcset="">
      <img class="sample1" src="/static/Graffiti.png" alt="graffiti sample" srcset="">
      <img class="sample1" src="/static/Dog.png" alt="dog sample" srcset="">
    </div>
</body>
</html>